name: Build and Deploy
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: self-hosted  # <--- This triggers your ARC runner in K3d
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Build Docker Image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/getting-started-todo-app:${{ github.sha }} .

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Push Image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/getting-started-todo-app:${{ github.sha }}